ruff
mypy
voluptuous
voluptuous-serialize
pyyaml
requests
propcache
slugify
awesomeversion
aiozoneinfo
ciso8601
yarl
orjson
atomicwrites
aiohttp
packaging
tqdm
ulid-transform
jinja2
lru
types-setuptools
types-pyyaml
types-requests
