ruff
mypy
voluptuous
voluptuous-serialize
pyyaml
requests
aiohttp
aiozoneinfo
ciso8601
yarl
orjson
atomicwrites
packaging
tqdm
jinja2
ulid-transform
propcache
awesomeversion
slugify
types-setuptools
types-pyyaml
types-requests
